include mixins.pug 

doctype html 
html(lang="en")
    +head("Error 404: Not Found")

    +header

    h1 Error 404: Not Found
    h3 The page you're requesting does not exist.
    a(href="/" class="bluelink") Back to home